<!-- app/views/public/customers/my_page.html.erb -->
<div class="container mt-4">
  <h1 class="text-center">マイページ</h1>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>登録情報</h3>
<<<<<<< HEAD
    <%= link_to "編集する", edit_customer_registration_path, class: "btn btn-primary" %>
=======
    <%= link_to "編集する", edit_information_customer_path, class: "btn btn-primary" %>
>>>>>>> origin/develop
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>氏名</th>
        <td><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>
</div>
