<div class="container">
  <h1><strong>会員詳細画面</strong></h1>


  <h3>顧客ID       <%= @admins_customer.id %><strong>

  </strong></h3>
  <h3>氏名       <%= @admins_customer.last_name %><%= @admins_customer.first_name %></h3>
  <h3>フリガナ    <%= @admins_customer.last_name_kana %><%= @admins_customer.first_name_kana %></h3>
  <h3>郵便番号       <%= @admins_customer.postal_code %></h3>
  <h3>住所        <%= @admins_customer.user_address %></h3>
  <h3>電話番号    <%= @admins_customer.tele_number %></h3>
  <h3>メールアドレス    <%= .email %></h3>
  
   <% if @admins_customer.deleted_at.nil? %>
      <td>有効</td>
    <% else %>
      <td>無効</td>
    <% end %>
    
  <%= link_to "編集する", edit_admins_customer_path(@admins_customer), data: {"turbolinks" => false}, class: "btn btn-primary" %>
  <%= link_to "注文履歴一覧を見る", admins_orders_path, data: {"turbolinks" => false}, class: "btn btn-primary" %>

</div>
