<div class="container">
   <h4><p><span class="p-0.5 bg-secondary"><%= customer.full_name %>さんの会員詳細</span></p></h4>
     <table class="table">
        <thead>
          <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>入金ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% order.each do |p| %>
           <tr>
            <td><%= link_to order.purchase_date.strftime("%Y-%m-%d %H:%M"), admin_order_path(order.id), data: {"turbolinks" => false}  %></td>
            <td><%= customer.last_name %><%= customer.first_name %></td>
            <td><%= customer.email  %></td>
            <td><%= customer.order_status_i18n  %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <%= paginate orders %>
</div>