<h1 class="text-center my-4">ショッピングカート</h1>
<div class="mb-3 text-right">
  <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: { confirm: "カート内の商品を全て削除しますか？" }, class: "btn btn-danger" %>
</div>
<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td>
          <%= image_tag(cart_item.item.image.attached? ? url_for(cart_item.item.image) : 'placeholder.jpg', size: "50x50", class: "img-thumbnail mr-2") %>
          <%= cart_item.item.name %>
        </td>
        <td><%= number_to_currency(cart_item.item.with_tax_price, unit: "￥", precision: 0) %></td>
        <td>
          <%= form_with model: cart_item, local: true, method: :patch do |f| %>
            <div class="input-group">
              <%= f.select :amount, options_for_select(1..10, cart_item.amount), {}, class: "form-control" %>
              <div class="input-group-append">
                <%= f.submit "更新", class: "btn btn-success" %>
              </div>
            </div>
          <% end %>
        </td>
        <td><%= number_to_currency(cart_item.subtotal, unit: "￥", precision: 0) %></td>
        <td>
          <%= link_to "削除する", cart_item_path(cart_item), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="text-right">合計金額</td>
      <td colspan="2"><%= number_to_currency(@cart_items.sum(&:subtotal), unit: "￥", precision: 0) %></td>
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <%= link_to "買い物を続ける", root_path, class: "btn btn-secondary" %>
  <% if current_customer.cart_items.exists? %>
  <%= link_to "情報入力に進む", new_order_path, class: "btn btn-primary" %>
  <% end %>
</div>
