<h1>ショッピングカート</h1> 
<table>
    <% @cart_item.each do |cart_item| %>
    <td>商品名</td>
    <tr><%= cart_item.item.name%></tr>
    <td>単価(税込)</td>
    <tr><%= cart_item.item.with_tax_price%></tr>
    <td>数量</td>
    <tr><%= cart_item.item.amount%>
        <%= form_with model:cart_item,local: true,method: :patch do |f|%></tr>
            <%= f.select:amount,options_for_select(1..5,cart_item.amount),{},class:"form-control"%>
            <%= f.submit"更新",class:"btn btn-primary mt-2"%>
        <% end%>    
    <td>小計</td>
    <tr><%=cart_item.subtotal %></tr>
    <td>合計金額</td>
    <tr><%= @cart_item += cart_item.subtotal%></tr>
</table>
<%= link_to "買い物を続ける",cart_items_path%>
<%= cart_item.submit '情報入力に進む'%>
   