<h1>ショッピングカート</h1>
<%= link_to "カートを空にする",destroy_all_path,method: :delete,data:{confirm :"カート内の商品を全て削除しますか？"},class: "btn btn-danger mx-2" %>
<table>
    <% @cart_items.each do |cart_item| %>
    <td>商品名</td>
    <tr><%= cart_item.item.name%></tr>
    <td>単価(税込)</td>
    <tr><%= cart_item.item.with_tax_price%></tr>
    <td>数量</td>
    <tr><%= cart_item.item.amount%>
        <%= form_with model:cart_item,local: true,method: :patch do |f|%></tr>
            <%= f.select:amount,options_for_select(1..5,cart_item.amount),{},class:"form-control"%>
            <%= f.submit"更新",class:"btn btn-primary mt-2"%>
        <% end%>    
    <td>小計</td>
    <tr><%=cart_item.subtotal %></tr>
    <td>合計金額</td>
<<<<<<< HEAD
    <tr><%= @total_payment%> += cart_item.subtotal%></tr>
</table>
<%= link_to "買い物を続ける",cart_items_path%>
<%= cart_item.submit '情報入力に進む'%>
   <% end %>
=======
    <tr><%= @cart_item += cart_item.subtotal%></tr>
    <% end %>
</table>
<%= link_to "買い物を続ける",cart_items_path%>
>>>>>>> 30079ff4801f09d9131cff757845e294518b4765
