<div class="container-fluid">
  <div class="row">
    <h5 class="col-4 text-center my-4">
      <span class="px-3" style="background-color: #dcdcdc;">配送先登録/一覧</span>
    </h5>
  </div>
  <div class="row">
    <%= form_with model: @order, url:orders_path do |f| %>
    <%= f.label :payment_method, "支払方法" %>
    <%= f.radio_button :payment_method, true %>
    <%= f.label :payment_method, "クレジットカード" %>
    <%= f.radio_button :payment_method, false %>
    <%= f.label :payment_method, "銀行振込" %>
  </div>
  <div class="row">
    btn
  </div>
  
  
</div>