<header class="sticky-top border-bottom bg-white">
  <nav class="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 pl-4">
          <a class="navbar-brand" href="/">Nagano Cake</a>
          <a class="navbar-brand" href="/"><%= image_tag('nagano_cake.jpg', size: "75x75") %></a>
        </div>
        <div class="col-3">
          <% if customer_signed_in? %>
            <p class="mt-4">ようこそ、<%= current_customer.last_name %>さん！</p>
          <% end %>
        </div>
        <div class="col-6">
          <div class="row justify-content-end mr-1">
            <ul class="nav">
              <% if admin_signed_in? %>
                <%= render 'layouts/admin_header' %>
              <% elsif customer_signed_in? %>
                <%= render 'layouts/customer_header' %>
              <% else %>
                <%= render 'layouts/before_signin_header' %>
              <% end %>
            </ul>
          </div>
          <div class="row justify-content-end mr-1 mt-1">
            <%= form_with url: search_path, method: :get do |f| %>
            <div class="input-group">
              <%= f.text_field :word, placeholder: "Search" %>
              <%= button_tag type: "submit", class: "btn btn-outline-primary btn-sm" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!--<form class="d-flex" role="search">-->
<!--  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--  <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--</form>-->